#body-projects {
  background-color: var(--secondary-color);
  min-height: 100vh;
}

#header-projects, #sideNav-projects {
  background-color: var(--primary-color);
}

section#work {
  padding: calc(1rem + 2vw);
  background-color: var(--secondary-color);
  color: white;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.work__card {
  padding: 2vw;
  flex-basis: 50rem;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

.work__card--img {
  height: 100%;
  width: 100%;
}

.work__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.35s ease-in-out;
}

.work__card--content__title {
  font-size: 2.5rem;
  text-transform: uppercase;
}

.work__card--content__para {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.5rem;
}

.work__card--content {
  position: absolute;
  top: 60%;
  left: 0;
  width: 80%;
  background-color: var(--tertiary-color-m);
  padding: 2rem;

  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.35s ease-in-out;
}

.work__card:hover .work__card--content,
.work__card:active .work__card--content {
  transform: scaleY(1);
  transform-origin: center;
}

.work__card:hover .work__card--img img,
.work__card:active .work__card--img img {
  transform: scale(0.98);
  filter: grayscale(50%);
}


.exploreBtn:link,
.exploreBtn:visited {
  margin: 1rem;
  padding: .5rem .5rem;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-transform: uppercase;

  position: relative;
  z-index: 1;
}

.exploreBtn:link::after,
.exploreBtn:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);

  z-index: -1;
}

.exploreBtn:hover::after,
.exploreBtn:active::after {
  transform: scaleY(1);
  transform-origin: top;
}