#body-projects-detail {
  background-color: var(--primary-color);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);

  .side-nav__content--social a {
    &:hover, &:active { color: var(--primary-color) }
  }
}

#header-projects-detail {
  background-color: var(--secondary-color);
}

#sideNav-projects-detail {
  background-color: var(--secondary-color);
}

.project-detail {

  .cover-container {
    max-width: 42em;
    color: #fff;
    font-size: 10rem;
    padding: 0 2rem;
  }

  .cover-heading {
    font-weight: bold;
    font-size: 5rem;
  }

  .page-cover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .project-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

  }
}

.technologies {
    max-width: 800px;
    font-size: 2.5rem;
    font-style: italic;
}

#projectDescription {
  max-width: 800px;
  text-align: center;
  margin: 0 5%;
  p {
    font-size: 2rem;
    margin-top: 1rem;
  }
}


.projectLinks {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    font-size: 2.75rem;
      cursor: pointer;
      margin: 1rem;
      padding: .75rem 1.25rem;
      text-shadow: none;
      color: #333;
      background-color: #fff;
      border: .05rem solid #fff;
      border-radius: 4px;

      &:hover {
        border-color: var(--secondary-color);
        // background-color: #333;
        // color: white;
        background-color: var(--secondary-color);
        color: whitesmoke;
      }
    }
}


.videoOverview {
  margin-bottom: 5rem;
}

.videoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  iframe {
    border-radius: 5px;
    width: 90%;
    height: 500px;
  }


}
