@use "../components/skillSection";
@use "../components/skillKeyframes";

/********************* Skills Section **************************/
section#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 132rem;
  margin: 0 auto;
  padding: calc(1rem + 2vw);
}
